.hero{
    background: url("https://picsum.photos/1600/800?grayscale") center/cover no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.hero-overlay{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 32px;
    width: 100%;
}

.card-home{
    width: 280px;
    height: 400px;
    margin: 0 auto;
}


.home-img{
    width: 240px;
    height: 214px;
    margin: 0 auto;
}

.map-responsive{
    position: relative;
    padding: 25%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.map-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.card-produtos img{
    width: 240px;
    height: 214px;
    margin: 0 auto;

}

.produto-description{
    background-color: #e1e1e1;
}


.card-produtos h5{
    font-size: 14px;
}

@media (max-width: 600px) {
    
    .card-produtos{
        width: 400px;
        height: 500px;
        margin: 0 auto;
    }

    .card-produtos img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
}

@media (min-width: 601px) and (max-width: 991px){
        .card-produtos img{
            width: 200px ;
        }
}